[submodule "lib_uart"]
	path = lib_uart
	url = https://github.com/charles-park/lib_uart
[submodule "lib_fbui"]
	path = lib_fbui
	url = https://github.com/charles-park/lib_fbui
[submodule "lib_i2cadc"]
	path = lib_i2cadc
	url = https://github.com/charles-park/lib_i2cadc
[submodule "lib_usblp"]
	path = lib_usblp
	url = https://github.com/charles-park/lib_usblp
[submodule "lib_gpio"]
	path = lib_gpio
	url = https://github.com/charles-park/lib_gpio
